{% load static %}
<!doctype html>
<html lang="ar" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>QAM - تم تغيير  كلمة المرور</title>
    <link rel="stylesheet" href="{% static 'qam_courses/css/main.css' %}">
</head>
<body>
    <div class="flex items-start my-14 md:my-10 justify-center min-h-[62vh] md:h-[78vh]">
        <div class="card m-3 w-screen md:w-[48rem]">
            <div class="card-body">
                <div class="flex items-center justify-center gap-3">
                    <p>تم تغيير كلمة المرور بنجاح.</p>
                    <a href="{% url 'site:index' %}" class="link hover:text-primary">
                        الرجوع إلى الموقع
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>