{% load static %}
<!doctype html>
<html lang="ar" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>QAM - تعيين  كلمة المرور</title>
    <link rel="stylesheet" href="{% static 'qam_courses/css/main.css' %}">
</head>
<body>
    <div class="flex items-start my-14 md:my-10 justify-center min-h-[62vh] md:h-[78vh]">
        <div class="card m-3 w-screen md:w-[48rem]">
            <div class="card-header">
                <div class="card-title text-center">
                    <h2>تعيين  كلمة المرور</h2>
                </div>
            </div>
            <hr class="border-0 h-px bg-base-300">
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    <div class="grid gap-6">
                        {% for field in form %}
                            <div class="grid gap-1">
                                {{ field.label_tag }}
                                {{ field }}
                            </div>
                        {% endfor %}
    
                        <div class="card-actions" dir="ltr">
                            <button type="submit" class="btn btn-primary">تعيين</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>