{% extends 'base.html' %}

{% block title %}تسجيل حساب جديد{% endblock title %}

{% block body %}
	<div class="flex items-start justify-center my-10 h-screen/90 md:h-[78vh]">
        <div class="card m-3 w-screen md:w-[48rem]">
            <div class="card-header">
                <div class="card-title text-center">
                    <h2>
                        تسجيل حساب جديد
                    </h2>
                </div>
            </div>
            <hr class="border-0 h-px bg-base-300">
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    <div class="grid gap-4">
                        {% for field in form %}
                            <div id="{{ field.name }}">
                                <label class="label-text mb-1" for="{{ field.auto_id }}">{{ field.label_tag }}</label>
                                {{ field }}
                            </div>
                        {% endfor %}
                        {% if form.errors %}
                            <small class="text-error">
                                البريد الالكتروني مستخدم
                            </small>
                        {% endif %} 
                        <div class="card-actions" dir="ltr">
                            <button type="submit" class="btn btn-primary">تسجيل</button>
                        </div>
                    </div>
                    <hr class="border-0 h-px bg-base-300 mt-4">
                    <div class="card-footer text-lg text-center">
                        لديك حساب؟ <a href="{% url 'account:login' %}" class="link link-hover hover:text-primary">إضغط هنا</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock body %}