{% extends 'base.html' %}

{% load static %}
{% load qam_tags %}

{% block title %}المفضلة{% endblock title %}

{% block body %}
	<div class="flex flex-col my-2 min-h-[75vh] md:min-h-[84.4vh]">
        {# Header Section #}
        <div class="flex flex-col items-center justify-center h-fit">
            <h2 class="text-xl font-medium">المفضلة</h2>
            <form method="GET" class="join my-2 w-[85%] md:w-[48rem] lg:w-[60rem]">
                <input placeholder="إبحث... موقع إثرائي" class="input join-item outline-none" type="search" name="site_name">
                <button type="submit" class="btn btn-secondary btn-outline join-item">إبحث</button>
            </form>
        </div>
        {# Header Section End #}
        <div class="flex flex-col items-center justify-center md:gap-y-10">
            {# Sites List Section #}
            <div class=" grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">
                {% for site in sites %}
                    {# Site Card #}
                    <div class="{% show_favorite user site %}">
                        {% include 'parts/site_card.html' with site=site user=user %}
                    </div>
                    {# Site Card End #}
                {% endfor %}
            </div>
            {# Sites List Section End #}
            <div>
                {# Paginator Section #}
                {# PC #}
                    <div class="hidden md:flex items-center gap-x-2">
                        <a class="btn btn-outline {% if not favorites.has_previous %} disabled {% endif %}" href="{% if favorites.has_previous %} ?page={{ favorites.previous_page_number }} {% endif %}">السابق</a>
                        <div class="flex items-center gap-x-1">
                            {% for page in favorites.paginator.page_range %}
                                <a class="btn btn-outline btn-square aria-[current='page']:text-border-primary aria-[current='page']:bg-primary/10" href="?page={{ page }}" {% if favorites.number == page %} aria-current="page" {% endif %} >{{ page }}</a>
                            {% endfor %}
                        </div>
                        <a class="btn btn-outline {% if not favorites.has_next %} disabled {% endif %}" href="{% if favorites.has_next %} ?page={{ favorites.next_page_number }} {% endif %}">التالي</a>
                    </div>
                {# PC End #}
                {# Phone #}
                    <div class="flex md:hidden items-center gap-x-1">
                        <a href="{% if favorites.has_previous %} ?page={{ favorites.previous_page_number }} {% endif %}" class="btn btn-text btn-square {% if not favorites.has_previous %} disabled {% endif %}">
                            <span class="icon-[tabler--chevron-right] size-5" aria-label="Previous Button"></span>
                        </a>
                        <div>
                            <a href="?page={{ favorites.number }}">{{ favorites.number }}</a>
                            <span>من</span>
                            <a href="?page={{ favorites.paginator.num_pages }}">{{ favorites.paginator.num_pages }}</a>
                        </div>
                         <a href="{% if favorites.has_next %} ?page={{ favorites.next_page_number }} {% endif %}" class="btn btn-text btn-square {% if not favorites.has_next %} disabled {% endif %}">
                            <span class="icon-[tabler--chevron-left] size-5" aria-label="Next Button"></span>
                        </a>
                    </div>
                {# phone end #}
            {# Paginator Section End #}
            </div>
        </div>
    </div>
{% endblock body %}