{% extends 'base.html' %}

{% load static %}
{% load qam_tags %}

{% block title %}الصفحة الرئيسية{% endblock title %}

{% block body %}
    {# Logo Section #}
        <div class="flex justify-center items-center">
            <div class="relative">
                <img src="{% static 'qam_courses/images/new_logo_1.png' %}" alt="new_logo">
            </div>
        </div>
    {# Logo Section End #}

    <div class="relative my-2 flex flex-col gap-4 items-center justify-center">
    <h3 class="text-lg font-medium text-center px-2">افضل 8 مواقع لدورات تعليميه بشهادات معتمده</h3>

    {# Top 8 Sites Section #}
        <div class=" grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">
            {% for site in top_sites %}
                {# Site Card #}
                {% include "parts/site_card.html" with site=site user=user %}
                {# Site Card End #}
            {% endfor %}
        </div>
    {# Top 8 Sites Section End #}
    </div>
{% endblock body %}