{% extends 'base.html' %}

{% load static %}
{% load qam_tags %}


{% block title %}المواقع{% endblock title %}

{% block body %}
	<div class="flex flex-col my-2 min-h-[75vh] md:min-h-[84.4vh]"> <!-- md:h-[84.4vh] -->
        {# Header Section #}
        <div class="flex flex-col items-center justify-center h-fit">
            <h2 class="text-xl font-medium">المواقع</h2>
            <form method="GET" class="join my-2 w-[85%] md:w-[48rem] lg:w-[60rem]">
                <input placeholder="إبحث... موقع إثرائي" class="input join-item outline-none" type="search" name="site_name">
                <button type="submit" class="btn btn-secondary btn-outline join-item">إبحث</button>
            </form>
        </div>
        {# Header Section End #}
        <div class="flex flex-col items-center justify-center">
            {# Sites List Section #}
            <div class=" grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">
                {% for site in sites %}
                    {# Site Card #}
                    {% include 'parts/site_card.html' with site=site user=user %}
                    {# Site Card End #}
                {% endfor %}

            </div>
            {# Sites List Section End #}
            {# Paginator Section #}
                {# PC #}
                    <div class="hidden md:flex items-center gap-x-2">
                        <a class="btn btn-outline {% if not sites.has_previous %} disabled {% endif %}" href="{% if sites.has_previous %} ?page={{ sites.previous_page_number }} {% endif %}">السابق</a>
                        <div class="flex items-center gap-x-1">
                            {% for page in sites.paginator.page_range %}
                                <a class="btn btn-outline btn-square aria-[current='page']:text-border-primary aria-[current='page']:bg-primary/10" href="?page={{ page }}" {% if sites.number == page %} aria-current="page" {% endif %} >{{ page }}</a>
                            {% endfor %}
                        </div>
                        <a class="btn btn-outline {% if not sites.has_next %} disabled {% endif %}" href="{% if sites.has_next %} ?page={{ sites.next_page_number }} {% endif %}">التالي</a>
                    </div>
                {# PC End #}
                {# Phone #}
                <div class="flex md:hidden items-center gap-x-1">
                    <a href="{% if sites.has_previous %} ?page={{ sites.previous_page_number }} {% endif %}" class="btn btn-text btn-square {% if not sites.has_previous %} disabled {% endif %}">
                        <span class="icon-[tabler--chevron-right] size-5" aria-label="Previous Button"></span>
                    </a>
                    <div>
                        <a href="?page={{ sites.number }}">{{ sites.number }}</a>
                        <span>من</span>
                        <a href="?page={{ sites.paginator.num_pages }}">{{ sites.paginator.num_pages }}</a>
                    </div>
                     <a href="{% if sites.has_next %} ?page={{ sites.next_page_number }} {% endif %}" class="btn btn-text btn-square {% if not sites.has_next %} disabled {% endif %}">
                        <span class="icon-[tabler--chevron-left] size-5" aria-label="Next Button"></span>
                    </a>
                </div>
                {# phone end #}
            {# Paginator Section End #}
        </div>
    </div>
{% endblock body %}